.header{
    padding: 0px 50px;
    position: fixed;
    width: 100%;
    
    z-index: 999999;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    top: 0;
    left: 0;
  
    
}
