.header{
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    
    z-index: 999999;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    top: 0;
    left: 0;
  
    
}

.header .left{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header .label-wrapper{
    width: 100%;
    
}

.header .label{
    margin-block: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #676767;
}

.header .nav-bar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .nav-bar{
    box-shadow:unset;
}

.header .logo-container{
    width: 100px;
}

.header .logo-container img{
    width: 100%;
}

.nav-bar .navbar-nav .nav-link{
    color: #676767;
  
}

.nav-bar .navbar-nav .nav-link:hover{
    color: #000;
    
}


.header .nav-link.active{
    color: #000;
    border-bottom: 3px solid #1f2674;
}

.header .toggle-menu-button{
    display: none;
}


.header .bottom-nav-wrapper{
    display: none;
}





@media screen and (max-width: 992px) {
    .header{
        padding: 20px 10px;
        flex-wrap: wrap;
    }

    .header .left{
        flex-grow: 1;
    }
    .header .label-wrapper{
        width: 100%;
    }
    .header .label{
        text-align: center;
        color: #676767;
    }
    .header .toggle-menu-button{
        display: block;
    }

    .header .nav-bar{
        width: 100%;
    }

    .header .nav-bar .navbar-nav{
        flex-direction: column;
    }

    .header .bottom-nav-wrapper{
        display: block;
        width: 100%;
    }
   
}

@media screen and (max-width: 768px) {
   
   
}


@media screen and (max-width: 567px) {
    .header .label{
        display: none;
        
    }
   
}