.footer-wrapper{

    margin-top: auto;
    width: 100%;
}

.footer-wrapper .footer-section{
    margin-bottom: 20px;
}

.footer-image{
    position: relative;
}

.footer-image .content{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 50px 0px;
    font-size: 24px;
    text-align: center;
}
.footer-image .content .phone{
    color: red;
    font-size: 28px;
}


.container{
    background-color: #843C0C;
    padding: 40px 50px;
}

.container .content-wrapper a, .container .content-wrapper{
    
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.15s ease;
}

.container .content-wrapper .content{
    font-size: 0.875rem;
    font-weight: bold;
  
}
.container .content-wrapper .sub-content{
    font-size: 0.875rem;
    font-weight: normal;
  
}

.container .content-wrapper a:hover{
    text-decoration: underline;
    color: #676767;
}

/* medium */
@media screen and (max-width: 992px) {
   
    .container{
        padding: 40px 20px;
    }
    .footer-image .content{
        font-size: 18px;
        padding: 30px 20px;
    }
    .footer-image .content .phone{
        font-size: 22px;
    }
}

/* small */
@media screen and (max-width: 767px) {
   
  
    .footer-image .content{
        font-size: 12px;
        padding: 10px 10px;
    }
    .footer-image .content .phone{
        font-size: 16px;
    }
}

