@font-face {
  font-family: 'Hyundai Sans';
  src: local('Hyundai Sans Head Office Medium'), local('Hyundai-Sans-Head-Office-Medium'),
      url('/fonts/HyundaiSansHeadOffice-Medium.woff2') format('woff2'),
      url('/fonts/HyundaiSansHeadOffice-Medium.woff') format('woff'),
      url('/fonts/HyundaiSansHeadOffice-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font: Meiryo,arial,clean,verdana,"Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Osaka,sans-serif;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Hyundai Sans Head",sans-serif;

}

.body-wrapper{
  min-height: 100vh; 
  margin: 0; 
  
  display: flex;
  flex-direction: column;
  
}

.main-body{
  margin-top: 96px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.carousel-control-next, .carousel-control-prev{
  width: auto !important;
  padding: 0 20px !important;
}

.carousel-control-next-icon::after, .carousel-control-prev-icon::after{
  content: "";
}

.primary-button{
  padding: 10px 20px;
  background-color: rgb(31, 38, 116,0.9);
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.15s ease;
}

.primary-button:hover{
  background-color: rgb(31, 38, 116,1.0);
}