.container {
  padding: 0 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {

  padding: 1rem 0;
 

  display: flex;
  flex-direction: column;
  justify-content: center;


}


.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  /* font-size: 4rem; */
}

.carousel-introduction-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  
  margin: 0;
}

.carousel-introduction img {
  width: 100%;
  height: 600px;

}


@media screen and (max-width: 768px) {
  .container {
    padding: 0 0rem;
  }

  .carousel-introduction img {
    width: 100%;
    height: 300px;
  
  }
}